<nav>
    <h1><img src="/icons/istockphoto-1341681278-612x612-removebg-preview.png" alt="logo">Helping Hand</h1>
    <ol>
        
    <a href="/"><li><img src="/icons/home.svg" alt="home">Home</li></a>
       <a href="/developer"> <li><img src="/icons/developer.svg" alt="dev">Developer</li></a>
      <a href="/about">  <li><img src="/icons/about.svg" alt="abt">About</li></a>
      <a href="/login"> <li><img src="/icons/login_nav.svg" alt="login">login</li></a> 
    </ol>
</nav>